
<header>
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a  class="list-group-item list-group-item-action py-2 ripple active" aria-current="true" (click)="deshBoardRoute()">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
          </a>
          <a class="list-group-item list-group-item-action py-2 ripple " (click)="adminRoute()">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>Users</span>
          </a>
          <a class="list-group-item list-group-item-action py-2 ripple" (click)="setProgram()" ><i
              class="fas fa-lock fa-fw me-3"></i><span>Set Program</span></a>
           
          <a  class="list-group-item list-group-item-action py-2 ripple" (click)="orderManagement()"><i
              class="fas fa-chart-line fa-fw me-3"></i><span>Order Management</span></a>
              <a class="list-group-item list-group-item-action py-2 ripple" (click)="calenderView()">
            <i class="fas fa-chart-pie fa-fw me-3"></i><span>Calender View</span>
          </a>
          <a  class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-chart-bar fa-fw me-3"></i><span>Payment</span></a>
   
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="container pt-4">
       
    </div>
  </main>