	  
 <footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
    <div class="col-md-6 col-lg-6 col-xl-6 mx-auto  ">
    <h5 class="text-uppercase mb-4 font-weight-bold text-warning"> Company's Motive </h5>
    Providing food to the user from the vendor
 
    </div>
    
    <div class="col-md-5 col-lg-5 col-xl-5 mx-auto  ">
    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
    <i class="fas fa-home mr-3"> </i> 35/5,santinagar, Dhaka.
    </div>
    </div>
   <hr>
    <div class="col-md-6 col-lg-6 col-xl-6 mx-auto  ">
    <div class="col-md-7 col-lg-8">
    Copyright @2023 All rights reserved by:
    <a href="#" style="text-decoration: none;">
    <strong class="text-warning">K@z Phantom</strong>	
    </a>
    <div >
    Server Time: 
    <span id="hours">00</span>
            <span>:</span>
            <span id="minutes">00</span>
            <span>:</span>
            <span id="seconds">00</span>
            <span id="session">AM</span>   
    </div>  
    </div>   
    </div>
    </div>
    </footer>
    
    