<app-side-navbar></app-side-navbar>

<form [formGroup]="dateRangeForm">

  <div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
      <label>start Date</label>
      <input type="date" class="form-control" formControlName="startDay" arial-describedby="emailHelp">

    </div>
    <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
      <label>End Date</label>
      <input type="date" class="form-control" formControlName="endDay" arial-describedby="emailHelp">

    </div>
  </div>

  <br>
  <button type="submit" style="margin-left: 30%;" class="btn btn-primary"
    (click)="getRange(this.dateRangeForm.value)">Submit</button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Meal Details</th>
      <th scope="col">Total Cost</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let item of userPaymentCalculationData; let i=index">
      <td>{{i+1}}</td>
      <td>{{item.userName}}</td>
      <td>{{item.email}}</td>
      <td>
        <ul *ngFor="let mealItem of item.meal" style="  list-style-type: none;
        margin: 0;
        padding: 0;">
          <li >
            <strong>{{mealItem.type}} :</strong> {{mealItem.count}}*{{mealItem.cost/mealItem.count}} = {{mealItem.cost}}
          </li>
        </ul>
      </td>
      <td>{{item.totalCost}}</td>
      <td><button class="btn btn-danger">Delete</button></td>
    </tr>
  </tbody>
</table>