<app-side-navbar></app-side-navbar>
<div class="container" style="width: 80%; margin: auto;"> 
    <form  [formGroup]="programDataForm" >
    <h1 style="text-align: center;">Add New Program</h1>  <br>
         <div class="input-group mb-3">
           <label  class="col-sm-2 col-form-label">Program Title</label>
            <input type="text" class="form-control"  formControlName="programName"/>
        </div>     
        <button type="submit" style="margin-left: 40%;"(click)="addProgramData(this.programDataForm.value)" class="btn btn-primary" [disabled]="this.programDataForm.invalid">submit</button>
        <button type="submit" style="margin-left: 1%;" class="btn btn-danger" (click)="this.programDataForm.reset()">Cancel</button> 
        
</form>
</div>
