<app-side-navbar></app-side-navbar>
<div class="container" style="width: 80%; margin: auto;"> 
    <form  [formGroup]="" >
    <h1 style="text-align: center;">Order Management</h1>  <br>
         <div class="input-group mb-3">
           <label  class="col-sm-2 col-form-label">Choose Program</label>
            <input type="text" class="form-control"  formControlName="programName"/>
        </div>     
        <button type="submit" style="margin-left: 40%;" class="btn btn-primary">submit</button>
        <button type="submit" style="margin-left: 1%;" class="btn btn-danger">Cancel</button> 
        
</form>
</div>
