<div style="width: 70%; margin: auto;"> 
  <a href="user" style="text-decoration: none;"> 
    <div class="card" style=" background-color:#A0A0A0 ;">
      <div class="card-body">
        <a class="card-text" style="text-decoration: none; color:Black"> <h3> User Panel</h3></a>
        <p>You can access here as a user. you can get service from vendor</p>
      </div>
    </div>
  </a>
    <br>
    <a href="admin" style="text-decoration: none;"> 
    <div class="card" style=" background-color:#C0C0C0 ;">
      <div class="card-body">
        <a class="card-text" style="text-decoration: none; color:Black"> <h3> Admin Panel</h3></a>
        <p>You can access here as a user. you can get service from vendor</p>
      </div>
    </div>
    </a>
    <br>
    <a href="vendor" style="text-decoration: none;"> 
    <div class="card" style=" background-color:#E0E0E0 ;">
      <div class="card-body">
        <a class="card-text" style="text-decoration: none; color:Black"> <h3> Vendor Panel</h3></a>
        <p>You can access here as a user. you can get service from vendor</p>
      </div>
    </div>
  </a>
    </div>
    
